<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eschool.core.notice.mapper.NoticeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.eschool.core.notice.entity.NoticeEntity" id="noticeMap">
        <result property="id" column="id"/>
        <result property="noticeType" column="notice_type"/>
        <result property="content" column="content"/>
        <result property="taskId" column="task_id"/>
        <result property="taskTitle" column="task_title"/>
        <result property="replyerUserId" column="replyer_user_id"/>
        <result property="replyerWecharName" column="replyer_wechar_name"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>