<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eschool.core.system.mapper.LocationMapper">

    <resultMap type="com.eschool.core.system.dto.LocationSchoolDTO" id="listMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="schoolList" ofType="com.eschool.core.system.dto.SchoolDTO">
            <result property="id" column="schoolId"/>
            <result property="text" column="schoolName"/>
        </collection>
    </resultMap>

    <select id="queryForList" resultMap="listMap">
        select
            self.id,
            self.name,
            school.id schoolId,
            school.name schoolName
        from yhc_location self
        LEFT JOIN yhc_school school ON self.id=school.location_id and school.delete_status=0
        where self.delete_status=0
    </select>

</mapper>