<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eschool.core.system.mapper.SchoolMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.eschool.core.system.entity.SchoolEntity" id="schoolMap">
        <result property="id" column="id"/>
        <result property="locationId" column="location_id"/>
        <result property="name" column="name"/>
        <result property="log" column="log"/>
        <result property="lat" column="lat"/>
        <result property="radius" column="radius"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>